/* class css  myinput area which created with JS but not in html */
.myInput{font-size:2em;border:1px solid #eee;letter-spacing:.5em;text-align:center}

.gameArea{
    
    
    margin:auto;text-align:center;
    padding-top: 300px;

}
.navbar{
    margin-left: 200px;
}

.navbar-brand a { 
    margin-left: -100px;
}
button:hover{
    background-color:darkred;
    color:white;
}
button{
    margin: auto;
    text-align: center;
    margin-top: 10px;
    background-color:red ;
    color:white;
    border-radius:10px;
}