.myInput{font-size:2em;border:1px solid #eee;letter-spacing:.5em;text-align:center}

.gameArea{margin:auto;text-align:center}
.navbar{
    margin-left: 200px;
}

.navbar-brand a { 
    margin-left: -100px;
}