/* class css  myinput area which created with JS but not in html */
body{
  color:#fafafa;
}

.myInput{font-size:2em;border:1px solid #eee;letter-spacing:.5em;text-align:center}

.gameArea{
    
    
    margin:auto;text-align:center;
    padding-top: 300px;

}
.navbar{
    margin-left: 200px;
    background-color: #525252;
    color: #fafafa;
    min-height: 70px;
margin:0;
}








.navbar-light .navbar-nav .nav-link {
  color:#fafafa !important;
}

.navbar-light .navbar-nav .nav-link:hover {
  color:red!important;
}
.navbar-light .navbar-brand {
  color:#fafafa !important;
}

.navbar-light .navbar-brand:hover {
  color: red !important;
}

.navbar-brand a { 
    margin-left: -100px;
}
button:hover{
    background-color:darkred;
    color:#fafafa;
}
button{
    margin: auto !important;
    text-align: center;
    margin-top: 10px !important;
    background-color:red ;
    color:#fafafa;
    border-radius:10px;
}








footer {
  background-color: #525252;
  color: #fafafa;
  min-height: 50px;
  
  margin: 0;
  position:fixed;
  bottom:0;
}

.cv-pdf i {
  font-size: 18px;
  color: #fafafa;
  text-align: center;
  padding-left: 5px;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

.cv-pdf i:hover {
  color: #e84610;
}

.social-links {
  padding-bottom: 15px;
}

.social-links li a i {
  width: 32px;
  height: 32px;
  padding: 12px 0;
  border-radius: 50%;
  font-size: 13px;
  line-height: 7px;
  text-align: center;
  color: #fafafa;
  background: #8f8f8f;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
  background: #e84610;
}

#footer-details {
  padding: 20px;
}
.social-lin{
  margin-top: 25px;
  display: flex;
  justify-content: center

}



@media only screen and (max-width: 350px){


  footer {

    max-height: 50px;
    background-color:red;
    max-height: 70px !important;
  }
  

	

  button{
    margin-top: 100px !important;
    text-align: center;
    margin-top: 0 !important;
    background-color:red ;
    color:#fafafa;
    border-radius:10px;
}

.myInput{font-size:12px;
  border:1px solid #eee;letter-spacing:1px;
  text-align:center}

.gameArea{
    
    
    margin:auto;text-align:center;
    padding-top: 300px;
    max-height: 20px;

}


}

/* ----------------------------------------Three 